<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalles de la Mascota - Paws Rescue Center</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <h1>Detalles de {{ pet['name'] }}</h1>
    </header>
    <main>
        <div>
            <img src="{{ url_for('static', filename='p' + pet['id']|string + '.jpg') }}" height="200" alt="Imagen de {{ pet['name'] }}">
            <h2>{{ pet['name'] }}</h2>
            <p>Edad: {{ pet['age'] }}</p>
            <p>{{ pet['bio'] }}</p>
            <a href="{{ url_for('home') }}">Volver a la página principal</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Paws Rescue Center</p>
    </footer>
</body>
</html>
